<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.one.employee.mapper.EmployeeMapper">

   <select id="getList" resultType="com.test.one.employee.dto.Employee">
       SELECT * FROM employees
   </select>
   
   <insert id="add">
   		INSERT INTO employees
   		VALUES (207, #{first_name}, #{last_name}, #{email}, #{phone_number}
   				, #{hire_date}, #{job_id}, #{salary}, #{commission_pct}
   				, #{manager_id}, #{department_id})
   </insert>
   
   <select id="updateId" resultType="com.test.one.employee.dto.Employee">
   		SELECT * FROM employees WHERE employee_id = #{id}
   </select>
   
   <update id="update">
   		UPDATE employees SET first_name = #{first_name}, last_name = #{last_name},
   		email = #{email} WHERE employee_id = #{id}
   </update>
   
</mapper>